<nav class="navbar navbar-inverse  navbar-fixed-top">
  <div class="container">
    <div id="search">
      <i class="glyphicon glyphicon-search"></i>
      <span class="cart-name">Suche</span>
    </div>
    <input id="search-input" type="search" placeholder="suche" />
      <!--<a class="navbar-brand" style="text-align:center; width:100%; display:block;" href="#">Online Shop</a>-->
      <img id="logo" src="./assets/logo.png" alt="logo" title="logo" />
  </div>
  <div id="cart">
    <a routerLink="/cart" routerLinkActive="active">
      <span>{{price() |currency:'EUR':true }} </span>
      <i class="glyphicon glyphicon-shopping-cart"></i>
      <span id="count">{{count()}}</span>
      <span class="cart-name">Warenkorb</span>
    </a>
  </div>

</nav>
