.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus{
    background: none;
}

a{
  color: #fff !important;
}

.active,
a:hover,
a:active,
a:focus{
  background-color: red !important;
}

.dropdown a{
  color: red;
}

.footer-bar-btns,
.visible-xs{
  list-style: none;
}

@media (max-width: 767px){
  ul, ol{
    margin-bottom: 0px;
  }

  .visible-xs{
    display: inline-block !important;
  }

  .navbar-header{
    height: 50px;
  }
}
