fieldset{
  overflow: hidden;
  width: 80%;
  margin: 0 auto;
  background: #ccc;
  padding: 30px;
}

legend{
  background: blue;
  overflow: hidden;
}

label{
  background: none;
  display: block;
}

input{
  background: #fff;
}

.col{
  overflow: hidden;
}



// Validator Style

// input field
.ng-valid[required], .ng-valid.required{
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form){
  border-left: 5px solid #a94442; /* red */
}

.alert{
  margin-top: 10px;
}
